# ENV not exposed to application
# CONFIG_SERVER_HOST=demo-add-on.cloud-panel.aboutyou.test
CONFIG_SERVER_HOST=localhost
CONFIG_SERVER_PORT=8082

# ENV exposed application (with PANEL_, prefix)
PANEL_ADDON_IDENTIFIER=demo
# PANEL_USE_SHADOW_DOM=true
PANEL_USE_SHADOW_DOM=false

### SCAYLE ADMIN API ###
NUXT_STOREFRONT_API_HOST='https://{{tenant-space}}.storefront.api.scayle.cloud/v1/'
NUXT_STOREFRONT_API_TOKEN=

### SCAYLE STOREFRONT API ###
NUXT_STOREFRONT_SAPI_HOST='https://{{tenant-space}}.storefront.api.scayle.cloud/v1/'
NUXT_STOREFRONT_SAPI_TOKEN=

### SCAYLE AUTHENTICATION (OAUTH) ###
# https://scayle.dev/en/storefront-guide/developer-guide/basic-setup/authentication/
NUXT_STOREFRONT_OAUTH_API_HOST='https://{{tenant-space}}.auth.scayle.cloud'
NUXT_STOREFRONT_OAUTH_CLIENT_ID=
NUXT_STOREFRONT_OAUTH_CLIENT_SECRET=